menuconfig FWU_MULTI_BANK_UPDATE
	bool "Enable FWU Multi Bank Update Feature"
	depends on EFI_CAPSULE_ON_DISK
	select PARTITION_TYPE_GUID
	select FWU_MDATA
	imply EFI_CAPSULE_ON_DISK_EARLY
	select EVENT
	help
	  Feature for updating firmware images on platforms having
	  multiple banks(copies) of the firmware images. One of the
	  bank is selected for updating all the firmware components

if FWU_MULTI_BANK_UPDATE

config FWU_NUM_BANKS
	int "Number of Banks defined by the platform"
	help
	  Define the number of banks of firmware images on a platform

config FWU_NUM_IMAGES_PER_BANK
	int "Number of firmware images per bank"
	help
	  Define the number of firmware images per bank. This value
	  should be the same for all the banks.

config FWU_TRIAL_STATE_CNT
	int "Number of times system boots in Trial State"
	default 3
	help
	  With FWU Multi Bank Update feature enabled, number of times
	  the platform is allowed to boot in Trial State after an
	  update.

config FWU_MDATA_V1
	bool "Enable support FWU Metadata version 1"
	help
	  The FWU specification supports two versions of the
	  metadata structure. This option enables support for FWU
	  Metadata version 1 access.

config FWU_MDATA_V2
	bool "Enable support FWU Metadata version 2"
	depends on !FWU_MDATA_V1
	help
	  The FWU specification supports two versions of the
	  metadata structure. This option enables support for FWU
	  Metadata version 2 access.

config FWU_ARM_PSA
	bool "FMP driver for Arm PSA FWU specification"
	depends on EFI_CAPSULE_FIRMWARE_MANAGEMENT && \
		EFI_CAPSULE_FIRMWARE_RAW && \
		ARM_FFA_TRANSPORT && (ARM64 || SANDBOX)
	select EFI_CAPSULE_FIRMWARE
	help
	  Select this option if you want to enable firmware management protocol
	  driver that supports the Arm PSA firmware update specification as
	  mentioned in https://developer.arm.com/documentation/den0118/a/

config FWU_KEEP_FMP_HEADER
	bool "Allow sending the FMP header with the payload"
	depends on FWU_ARM_PSA
	default y
	help
	  Select this option if you do not want to strip the FMP header
	  of the payload

config FWU_ARM_PSA_ACCEPT_IMAGES
	bool "Accept images at EFI ExitBootServices() level"
	depends on FWU_ARM_PSA
	default y
	help
	  Select this option if reaching ExitBootServices() level means the boot succeeded
	  This option will add a callback at ExitBootServices() that accepts all the images.

config FWU_BUFFER_PAGES
	int "Number of 4KB pages in the FWU shared buffer"
	depends on FWU_ARM_PSA
	default 1024
	help
	  This defines the size of the FWU shared buffer used for communication.

endif
